@font-face {
    font-family: 'chirp';
    src: url('chirp-bold-web.woff')
}


.but_g
{
    border-width: 0px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin: 5px;
    margin-left: 25%;


}



.but_g:hover
{
    background-color: #e8e9e9;

}


.but_reset
{
    border-width: 2px;
    border-radius: 30px;
    border-color: #1d9bf0;
    background-color: #ffffff;
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin: 5px;
    margin-left: 25%;
    color: #1d9bf0
}

.but_reset:hover
{
    background-color: #1d9bf0;
    color: #ffffff;
}

.recherche
{
    border-width: 2px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin: 5px;
    margin-left: 25%;
    border-color: #1d9bf0;
    color:#1d9bf0;
    width:150px;


}

.but_rech
{
    border-width: 0px;
    border-radius: 30px;
    background-color: #1d9bf0;
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin: 5px;
    margin-left: 25%;
    color: #ffffff


}

.but_g_selec
{
    border-width: 0px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin: 5px;
    margin-left: 25%;
    font-weight: bold;


}



.but_g_selec:hover
{
    background-color: #e8e9e9;

}

.recherche_selec
{
    border-width: 2px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin: 5px;
    margin-left: 25%;
    border-color: #1d9bf0;
    color:#1d9bf0;
    width:150px;
    font-weight: bold;


}